<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>reveal.js - The HTML Presentation Framework</title>

		<meta name="description" content="A framework for easily creating beautiful presentations using HTML">
		<meta name="author" content="Hakim El Hattab">

		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

		<link rel="stylesheet" href="css/reveal.css">
		<link rel="stylesheet" href="css/theme/league.css" id="theme">

		<!-- Code syntax highlighting -->
		<link rel="stylesheet" href="lib/css/zenburn.css">

		<!-- Printing and PDF exports -->
		<script>
			var link = document.createElement( 'link' );
			link.rel = 'stylesheet';
			link.type = 'text/css';
			link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
			document.getElementsByTagName( 'head' )[0].appendChild( link );
		</script>

		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->
	</head>

	<body>

		<div class="reveal">

			<!-- Any section element inside of this container is displayed as a slide -->
			<div class="slides">
				<section>
					<h1>BE READY FOR ANGULAR 2.0 TODAY</h1>
					<div>
						<p>Yaniv Efraim</p>
						<div><img src="./images/wix_logo.png" style="border: none;height: 40px;background-color: transparent;" /><p>Wix.com</p></div>
					</div>
				</section>
				<!-- <section>
					<div class="sl-block"style="height: auto; min-width: 30px; min-height: 30px; width: 600px; left: 80px; top: 66px;">
						<div style="z-index: 10;">
							<h2 style="text-align: left;">
								<span style="font-size:48px">About Myself
								</span>
							</h2>
						</div>
					</div>
					<div style="min-width: 30px; min-height: 30px; width: 194px; height: 345.059288537549px; left: 80px; top: 191px;">
						<div style="z-index: 11; opacity: 0.82;">
							<img style="visibility: visible;" src="https://s3.amazonaws.com/media-p.slid.es/uploads/yanivefraim-1/images/861284/10671486_10152724170552332_2714750091096210825_n.jpg">
						</div>
					</div>
					<div style="height: auto; min-width: 30px; min-height: 30px; width: 640px; left: 320px; top: 183px;">
						<div style="z-index: 12; text-align: left;">
							<p>
								<span style="font-size:24px">I Front End developer <span style="color:#FF8C00">@Wix</span>
								</span>
							</p>
							<p>
								<span style="font-size:24px">Developing for the web for more than 10 years</span>
							</p>
							<p>
								<span style="font-size:24px">Love Javascript</span>
							</p>
						</div>
					</div>

				<div class="sl-block" data-block-type="image" data-block-id="c9a6302ba361e48408570c3e79ec1d87" style="min-width: 30px; min-height: 30px; width: 39px; height: 39px; left: 318px; top: 357px;"><a class="sl-block-content" style="z-index: 13;" href="https://twitter.com/yanivef" target="_blank"><img style="visibility: visible;" data-natural-width="67" data-natural-height="67" src="https://s3.amazonaws.com/media-p.slid.es/uploads/yanivefraim-1/images/939494/twitter_grey.png"></a></div>


				<div class="sl-block" data-block-type="text" data-block-id="cde158b9548ffa23e2ffa58ff0bec6a6" style="height: auto; min-width: 30px; min-height: 30px; width: 111px; left: 361px; top: 350px;"><div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 14;">
				<p style="text-align:left"><span style="font-size:16px"><a href="https://twitter.com/yanivef" target="_blank">@yanivef</a></span></p>
				</div></div>

				<div class="sl-block" data-block-type="text" data-block-id="2b858306868d03aae549c344ff28b67c" style="height: auto; min-width: 30px; min-height: 30px; width: 599px; left: 361px; top: 448px;"><div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 16;">
				<p style="text-align:left"><span style="font-size:16px"><a href="https://www.linkedin.com/in/efraimyaniv" target="_blank">https://www.linkedin.com/in/efraimyaniv</a></span></p>
				</div></div>
				<div class="sl-block" data-block-type="image" style="min-width: 30px; min-height: 30px; width: 36px; height: 36px; left: 319px; top: 408px;" data-block-id="61619bb5e23173c19c54797e68f2f635"><a class="sl-block-content" style="z-index: 17;" href="https://twitter.com/yanivef" target="_blank"><img style="visibility: visible;" data-natural-width="67" data-natural-height="67" src="https://s3.amazonaws.com/media-p.slid.es/uploads/yanivefraim-1/images/939495/email_grey.png"></a></div>
				<div class="sl-block" data-block-type="text" data-block-id="37eade032b3ae241e4d58bcbf3ba6b01" style="height: auto; min-width: 30px; min-height: 30px; width: 200px; left: 361px; top: 396px;"><div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 18;">
				<p style="text-align:left"><span style="font-size:16px"><a href="yaniv.e@supersonic.com" target="_top">yaniv.e@supersonic.com</a></span></p>
				</div></div>
				<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; width: 383px; left: 323px; top: 497px;" data-block-id="52176f0451714b83e8c35e7dc1312800"><div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 19;" dir="ui">
				<p style="text-align:left"><span style="font-size:16px">Live slides:&nbsp;<a href="http://tinyurl.com/angularil-realworld" target="_blank">http://tinyurl.com/angularil-realworld</a>&nbsp;</span></p>
				</div></div>
				<div class="sl-block" data-block-type="image" style="min-width: 30px; min-height: 30px; width: 36px; height: 36px; left: 319px; top: 454px;" data-block-id="e853435f27d034015a7994fa99168308"><a class="sl-block-content" style="z-index: 20;" href="https://twitter.com/yanivef" target="_blank"><img style="visibility: visible;" data-natural-width="67" data-natural-height="67" src="https://s3.amazonaws.com/media-p.slid.es/uploads/yanivefraim-1/images/939755/IN_copy_grey_lighter.png"></a></div></section> -->
				<section>
					<h2>Why???</h2>
					<img src="./images/gamesofthrones.jpg" width="70%" />
				</section>
				<section>
					<h2>Why???</h2>
					<img src="./images/graves.png" />
				</section>
				<section>
					<h2>What can I do in order to be ready for Angular 2.0?</h2>
					<div>
						<ol>
							<li>Use Component Tree Architecture</li>
							<li>Write Angular 1.x using ES6/Typescript</li>
							<li>Use the "New Router"</li>
						</ol>
					</div>
				</section>
				<section>
					<h2>1. Use Component Tree Architecture</h2>
					<div>
						<img src="./images/app_structure.png" width="70%" />
					</div>
				</section>
				<section>
					<h3>Angular 2.0 Component Tree Structure</h3>
					<div>
					<img src="./images/parent_child.png" width="70%" />
					</div>
				</section>
				<section>
					<h3>Example - Theme Creator Demo</h3>
					<div>
					<img src="./images/theme_creator.png" width="70%" />
					</div>
				</section>
				<section>
					<h3><span style="color:#A9A9A9">Step 1</span> - Break the Code into Components (Main Component)</h3>
					<div>
						<img src="./images/theme_creator_blocks1.png" width="70%" />
					</div>
				</section>
				<section>
					<h3><span style="color:#A9A9A9">Step 1</span> - Break the Code into Components (Child Components)</h3>
					<div>
						<img src="./images/theme_creator_blocks2.png" width="70%" />
					</div>
				</section>
				<section>
					<h3><span style="color:#A9A9A9">Step 1</span> - Break the Code into Components</h3>
					<div>
						<ul>
							<li>Application main component (will be used as parent component in the hierarchy)</li>
							<li>Left panel component</li>
							<li>Input control components (font size etc.)</li>
							<li>Preview component</li>
						</ul>
					</div>
				</section>
				<section>
					<h3><span style="color:#A9A9A9">Step 2</span> - Create a Hierarchy Tree</h3>
					<div>

					</div>
				</section>
				<section>
					<h3>Example - Theme Creator Demo</h3>
					<pre style="font-size: 0.35em;"><code style="max-height: 600px;" data-trim contenteditable>
<div ng-controller="MainCtrl as ctrl">
  <div class="left-sidebar">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Edit your Theme</h3>
      </div>
      <div class="panel-body">
        <div class="control-group">
          <label class="control-label" for="fontFamily">Font Family</label>
          <div class="controls">
            <select class="form-control" name="fontFamily" ng-model="ctrl.fontFamily">
              <option value="Helvetica">Helvetica</option>
            </select>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="fontColor">Font Color</label>
          <div class="controls">
            <input id="fontColor" class="form-control" name="fontColor" ng-model="ctrl.fontColor" placeholder="#nnnnnn or <color-name>" />
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="fontSize">Font Size</label>
          <div class="controls">
            <input id="fontColor" class="form-control" type="number" name="fontSize" ng-model="ctrl.fontSize" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="main panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Preview</h3>
    </div>
    <div class="theme-preview panel-body" ng-style="{'font-family': ctrl.fontFamily, 'color': ctrl.fontColor, 'font-size': ctrl.fontSize}">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
    </div>
  </div>
</div>
					</code></pre>
				</section>

				<!-- Example of nested vertical slides -->
				<section>
					<section>
						<h2>Vertical Slides</h2>
						<p>Slides can be nested inside of each other.</p>
						<p>Use the <em>Space</em> key to navigate through all slides.</p>
						<br>
						<a href="#" class="navigate-down">
							<img width="178" height="238" data-src="https://s3.amazonaws.com/hakim-static/reveal-js/arrow.png" alt="Down arrow">
						</a>
					</section>
					<section>
						<h2>Basement Level 1</h2>
						<p>Nested slides are useful for adding additional detail underneath a high level horizontal slide.</p>
					</section>
					<section>
						<h2>Basement Level 2</h2>
						<p>That's it, time to go back up.</p>
						<br>
						<a href="#/2">
							<img width="178" height="238" data-src="https://s3.amazonaws.com/hakim-static/reveal-js/arrow.png" alt="Up arrow" style="transform: rotate(180deg); -webkit-transform: rotate(180deg);">
						</a>
					</section>
				</section>

				<section>
					<h2>Slides</h2>
					<p>
						Not a coder? Not a problem. There's a fully-featured visual editor for authoring these, try it out at <a href="http://slides.com" target="_blank">http://slides.com</a>.
					</p>
				</section>

				<section>
					<h2>Point of View</h2>
					<p>
						Press <strong>ESC</strong> to enter the slide overview.
					</p>
					<p>
						Hold down alt and click on any element to zoom in on it using <a href="http://lab.hakim.se/zoom-js">zoom.js</a>. Alt + click anywhere to zoom back out.
					</p>
				</section>

				<section>
					<h2>Touch Optimized</h2>
					<p>
						Presentations look great on touch devices, like mobile phones and tablets. Simply swipe through your slides.
					</p>
				</section>

				<section data-markdown>
					<script type="text/template">
						## Markdown support

						Write content using inline or external Markdown.
						Instructions and more info available in the [readme](https://github.com/hakimel/reveal.js#markdown).

						```
						<section data-markdown>
						  ## Markdown support

						  Write content using inline or external Markdown.
						  Instructions and more info available in the [readme](https://github.com/hakimel/reveal.js#markdown).
						</section>
						```
					</script>
				</section>

				<section>
					<section id="fragments">
						<h2>Fragments</h2>
						<p>Hit the next arrow...</p>
						<p class="fragment">... to step through ...</p>
						<p><span class="fragment">... a</span> <span class="fragment">fragmented</span> <span class="fragment">slide.</span></p>

						<aside class="notes">
							This slide has fragments which are also stepped through in the notes window.
						</aside>
					</section>
					<section>
						<h2>Fragment Styles</h2>
						<p>There's different types of fragments, like:</p>
						<p class="fragment grow">grow</p>
						<p class="fragment shrink">shrink</p>
						<p class="fragment fade-out">fade-out</p>
						<p class="fragment current-visible">current-visible</p>
						<p class="fragment highlight-red">highlight-red</p>
						<p class="fragment highlight-blue">highlight-blue</p>
					</section>
				</section>

				<section id="transitions">
					<h2>Transition Styles</h2>
					<p>
						You can select from different transitions, like: <br>
						<a href="?transition=none#/transitions">None</a> -
						<a href="?transition=fade#/transitions">Fade</a> -
						<a href="?transition=slide#/transitions">Slide</a> -
						<a href="?transition=convex#/transitions">Convex</a> -
						<a href="?transition=concave#/transitions">Concave</a> -
						<a href="?transition=zoom#/transitions">Zoom</a>
					</p>
				</section>

				<section id="themes">
					<h2>Themes</h2>
					<p>
						reveal.js comes with a few themes built in: <br>
						<!-- Hacks to swap themes after the page has loaded. Not flexible and only intended for the reveal.js demo deck. -->
						<a href="#" onclick="document.getElementById('theme').setAttribute('href','css/theme/black.css'); return false;">Black (default)</a> -
						<a href="#" onclick="document.getElementById('theme').setAttribute('href','css/theme/white.css'); return false;">White</a> -
						<a href="#" onclick="document.getElementById('theme').setAttribute('href','css/theme/league.css'); return false;">League</a> -
						<a href="#" onclick="document.getElementById('theme').setAttribute('href','css/theme/sky.css'); return false;">Sky</a> -
						<a href="#" onclick="document.getElementById('theme').setAttribute('href','css/theme/beige.css'); return false;">Beige</a> -
						<a href="#" onclick="document.getElementById('theme').setAttribute('href','css/theme/simple.css'); return false;">Simple</a> <br>
						<a href="#" onclick="document.getElementById('theme').setAttribute('href','css/theme/serif.css'); return false;">Serif</a> -
						<a href="#" onclick="document.getElementById('theme').setAttribute('href','css/theme/blood.css'); return false;">Blood</a> -
						<a href="#" onclick="document.getElementById('theme').setAttribute('href','css/theme/night.css'); return false;">Night</a> -
						<a href="#" onclick="document.getElementById('theme').setAttribute('href','css/theme/moon.css'); return false;">Moon</a> -
						<a href="#" onclick="document.getElementById('theme').setAttribute('href','css/theme/solarized.css'); return false;">Solarized</a>
					</p>
				</section>

				<section>
					<section data-background="#dddddd">
						<h2>Slide Backgrounds</h2>
						<p>
							Set <code>data-background="#dddddd"</code> on a slide to change the background color. All CSS color formats are supported.
						</p>
						<a href="#" class="navigate-down">
							<img width="178" height="238" data-src="https://s3.amazonaws.com/hakim-static/reveal-js/arrow.png" alt="Down arrow">
						</a>
					</section>
					<section data-background="https://s3.amazonaws.com/hakim-static/reveal-js/image-placeholder.png">
						<h2>Image Backgrounds</h2>
						<pre><code>&lt;section data-background="image.png"&gt;</code></pre>
					</section>
					<section data-background="https://s3.amazonaws.com/hakim-static/reveal-js/image-placeholder.png" data-background-repeat="repeat" data-background-size="100px">
						<h2>Tiled Backgrounds</h2>
						<pre><code style="word-wrap: break-word;">&lt;section data-background="image.png" data-background-repeat="repeat" data-background-size="100px"&gt;</code></pre>
					</section>
					<section data-background-video="https://s3.amazonaws.com/static.slid.es/site/homepage/v1/homepage-video-editor.mp4,https://s3.amazonaws.com/static.slid.es/site/homepage/v1/homepage-video-editor.webm" data-background-color="#000000">
						<div style="background-color: rgba(0, 0, 0, 0.9); color: #fff; padding: 20px;">
							<h2>Video Backgrounds</h2>
							<pre><code style="word-wrap: break-word;">&lt;section data-background-video="video.mp4,video.webm"&gt;</code></pre>
						</div>
					</section>
					<section data-background="http://i.giphy.com/90F8aUepslB84.gif">
						<h2>... and GIFs!</h2>
					</section>
				</section>

				<section data-transition="slide" data-background="#4d7e65" data-background-transition="zoom">
					<h2>Background Transitions</h2>
					<p>
						Different background transitions are available via the backgroundTransition option. This one's called "zoom".
					</p>
					<pre><code>Reveal.configure({ backgroundTransition: 'zoom' })</code></pre>
				</section>

				<section data-transition="slide" data-background="#b5533c" data-background-transition="zoom">
					<h2>Background Transitions</h2>
					<p>
						You can override background transitions per-slide.
					</p>
					<pre><code style="word-wrap: break-word;">&lt;section data-background-transition="zoom"&gt;</code></pre>
				</section>

				<section>
					<h2>Pretty Code</h2>
					<pre><code data-trim contenteditable>
function linkify( selector ) {
  if( supports3DTransforms ) {

    var nodes = document.querySelectorAll( selector );

    for( var i = 0, len = nodes.length; i &lt; len; i++ ) {
      var node = nodes[i];

      if( !node.className ) {
        node.className += ' roll';
      }
    }
  }
}
					</code></pre>
					<p>Code syntax highlighting courtesy of <a href="http://softwaremaniacs.org/soft/highlight/en/description/">highlight.js</a>.</p>
				</section>

				<section>
					<h2>Marvelous List</h2>
					<ul>
						<li>No order here</li>
						<li>Or here</li>
						<li>Or here</li>
						<li>Or here</li>
					</ul>
				</section>

				<section>
					<h2>Fantastic Ordered List</h2>
					<ol>
						<li>One is smaller than...</li>
						<li>Two is smaller than...</li>
						<li>Three!</li>
					</ol>
				</section>

				<section>
					<h2>Tabular Tables</h2>
					<table>
						<thead>
							<tr>
								<th>Item</th>
								<th>Value</th>
								<th>Quantity</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Apples</td>
								<td>$1</td>
								<td>7</td>
							</tr>
							<tr>
								<td>Lemonade</td>
								<td>$2</td>
								<td>18</td>
							</tr>
							<tr>
								<td>Bread</td>
								<td>$3</td>
								<td>2</td>
							</tr>
						</tbody>
					</table>
				</section>

				<section>
					<h2>Clever Quotes</h2>
					<p>
						These guys come in two forms, inline: <q cite="http://searchservervirtualization.techtarget.com/definition/Our-Favorite-Technology-Quotations">
						&ldquo;The nice thing about standards is that there are so many to choose from&rdquo;</q> and block:
					</p>
					<blockquote cite="http://searchservervirtualization.techtarget.com/definition/Our-Favorite-Technology-Quotations">
						&ldquo;For years there has been a theory that millions of monkeys typing at random on millions of typewriters would
						reproduce the entire works of Shakespeare. The Internet has proven this theory to be untrue.&rdquo;
					</blockquote>
				</section>

				<section>
					<h2>Intergalactic Interconnections</h2>
					<p>
						You can link between slides internally,
						<a href="#/2/3">like this</a>.
					</p>
				</section>

				<section>
					<h2>Speaker View</h2>
					<p>There's a <a href="https://github.com/hakimel/reveal.js#speaker-notes">speaker view</a>. It includes a timer, preview of the upcoming slide as well as your speaker notes.</p>
					<p>Press the <em>S</em> key to try it out.</p>

					<aside class="notes">
						Oh hey, these are some notes. They'll be hidden in your presentation, but you can see them if you open the speaker notes window (hit 's' on your keyboard).
					</aside>
				</section>

				<section>
					<h2>Export to PDF</h2>
					<p>Presentations can be <a href="https://github.com/hakimel/reveal.js#pdf-export">exported to PDF</a>, here's an example:</p>
					<iframe src="//www.slideshare.net/slideshow/embed_code/42840540" width="445" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:3px solid #666; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe>
				</section>

				<section>
					<h2>Global State</h2>
					<p>
						Set <code>data-state="something"</code> on a slide and <code>"something"</code>
						will be added as a class to the document element when the slide is open. This lets you
						apply broader style changes, like switching the page background.
					</p>
				</section>

				<section data-state="customevent">
					<h2>State Events</h2>
					<p>
						Additionally custom events can be triggered on a per slide basis by binding to the <code>data-state</code> name.
					</p>
					<pre><code class="javascript" data-trim contenteditable style="font-size: 18px;">
Reveal.addEventListener( 'customevent', function() {
	console.log( '"customevent" has fired' );
} );
					</code></pre>
				</section>

				<section>
					<h2>Take a Moment</h2>
					<p>
						Press B or . on your keyboard to pause the presentation. This is helpful when you're on stage and want to take distracting slides off the screen.
					</p>
				</section>

				<section>
					<h2>Much more</h2>
					<ul>
						<li>Right-to-left support</li>
						<li><a href="https://github.com/hakimel/reveal.js#api">Extensive JavaScript API</a></li>
						<li><a href="https://github.com/hakimel/reveal.js#auto-sliding">Auto-progression</a></li>
						<li><a href="https://github.com/hakimel/reveal.js#parallax-background">Parallax backgrounds</a></li>
						<li><a href="https://github.com/hakimel/reveal.js#keyboard-bindings">Custom keyboard bindings</a></li>
					</ul>
				</section>

				<section style="text-align: left;">
					<h1>THE END</h1>
					<p>
						- <a href="http://slides.com">Try the online editor</a> <br>
						- <a href="https://github.com/hakimel/reveal.js">Source code &amp; documentation</a>
					</p>
				</section>

			</div>

		</div>

		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.js"></script>

		<script>

			// Full list of configuration options available at:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,

				transition: 'slide', // none/fade/slide/convex/concave/zoom

				// Optional reveal.js plugins
				dependencies: [
					{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/highlight/highlight.js', async: true, condition: function() { return !!document.querySelector( 'pre code' ); }, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: 'plugin/zoom-js/zoom.js', async: true },
					{ src: 'plugin/notes/notes.js', async: true }
				]
			});

		</script>

	</body>
</html>
