<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">

    <title>reveal.js - The HTML Presentation Framework</title>

    <meta name="description" content="A framework for easily creating beautiful presentations using HTML">
    <meta name="author" content="Hakim El Hattab">

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

    <link rel="stylesheet" href="css/reveal.css">
    <link rel="stylesheet" href="css/theme/league.css" id="theme">

    <!-- Code syntax highlighting -->
    <link rel="stylesheet" href="lib/css/drakula.css">
    <style>
    .reveal table th, .reveal table td {
      border: 1px solid;
    }
    .reveal table th {
      background-color: #FF8C00;
    }
    </style>
    <!-- Printing and PDF exports -->
    <script>
      var link = document.createElement( 'link' );
      link.rel = 'stylesheet';
      link.type = 'text/css';
      link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
      document.getElementsByTagName( 'head' )[0].appendChild( link );
    </script>

    <!--[if lt IE 9]>
    <script src="lib/js/html5shiv.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="reveal">

      <!-- Any section element inside of this container is displayed as a slide -->
      <div class="slides">
        <section data-background="#ff4b5e">
          <h1>BE READY FOR ANGULAR 2.0 TODAY</h1>
          <div>
            <p>Yaniv Efraim</p>
          </div>
          <div><p style="margin-top: 20px; color: #13DAEC">Wix.com</p></div>
          <aside class="notes">
          <ul>
            <li>Angular 2.0 is on headlines all over the world</li>
            <li>It is coming...</li>
            <li>If you won't get ready to it, it will be really hard to upgrade</li>
            <li>Hope you'll get out of here with knowledge how to prepare to it</li>
          </ul>
          </aside>
        </section>
        <section data-id="454d1bee8790ffc21e5e82f231f7d42d" class="present" style="display: block;"><div class="sl-block" data-block-type="text" data-block-id="2d36e95120822cf56208370811ca3c32" style="height: auto; min-width: 30px; min-height: 30px; width: 600px; position: absolute;left: 80px; top: 66px;"><div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 10;">
        <h2 style="text-align: left;color: #ff4b5e"><span>About Myself</span></h2>
        </div></div>
        <div class="sl-block" data-block-type="image" data-block-id="ff0d6ea7bd24667a12265285a221178d" style="position: absolute;min-width: 30px; min-height: 30px; width: 194px; height: 345.059288537549px;position: absolute; left: 80px; top: 200px;"><div class="sl-block-content" style="z-index: 11; opacity: 0.82;"><img style="visibility: visible;" data-natural-width="506" data-natural-height="900" src="./images/about_me.JPG"></div></div>

        <div class="sl-block" data-block-type="text" data-block-id="949c4a04ec50dc6e68d49b9b1376d5ca" style="height: auto; min-width: 30px; min-height: 30px; width: 640px;position: absolute; left: 320px; top: 183px;"><div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 12; text-align: left;">
        <p><span style="font-size:24px">I am a Front End developer <span style="color:#e4bb45">@Wix</span></span></p>

        <p><span style="font-size:24px">
Passionate about Javascript and Angular.
Hacking on migrating to Angular 2.0 stuff on the last few months.
</span></p>


        <p>&nbsp;</p>

        <p>&nbsp;</p>
        </div></div>

        <div class="sl-block" data-block-type="image" data-block-id="c9a6302ba361e48408570c3e79ec1d87" style="position: absolute;min-width: 30px; min-height: 30px; width: 39px; height: 39px; left: 318px; top: 342px;"><a class="sl-block-content" style="z-index: 13;" href="https://twitter.com/yanivef" target="_blank"><img style="visibility: visible;" data-natural-width="67" data-natural-height="67" src="./images/twitter_grey.png"></a></div>


        <div class="sl-block" data-block-type="text" data-block-id="cde158b9548ffa23e2ffa58ff0bec6a6" style="height: auto; min-width: 30px; min-height: 30px; width: 111px; position: absolute; left: 361px; top: 328px;"><div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 14;">
        <p style="text-align:left;"><span style="font-size:16px"><a href="https://twitter.com/yanivef" target="_blank">@yanivef</a></span></p>
        </div></div>

        <div class="sl-block" data-block-type="text" data-block-id="2b858306868d03aae549c344ff28b67c" style="height: auto; min-width: 30px; min-height: 30px; width: 599px; position: absolute; left: 361px; top: 425px;"><div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 16;">
        <p style="text-align:left"><span style="font-size:16px"><a href="https://www.linkedin.com/in/efraimyaniv" target="_blank">https://www.linkedin.com/in/efraimyaniv</a></span></p>
        </div></div>
        <div class="sl-block" data-block-type="image" style="min-width: 30px; min-height: 30px; width: 36px; height: 36px; left: 319px; top: 389px;position: absolute;" data-block-id="61619bb5e23173c19c54797e68f2f635"><a class="sl-block-content" style="z-index: 17;" href="https://twitter.com/yanivef" target="_blank"><img style="visibility: visible;" data-natural-width="67" data-natural-height="67" src="./images/email_grey.png"></a></div>
        <div class="sl-block" data-block-type="text" data-block-id="37eade032b3ae241e4d58bcbf3ba6b01" style="height: auto; min-width: 30px; min-height: 30px; width: 200px; left: 361px; top: 377px; position: absolute;"><div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 18;">
        <p style="text-align:left;"><span style="font-size:16px"><a href="yanivefe@wix.com" target="_top">yanivef@wix.com</a></span></p>
        </div></div>
        <div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; width: 383px; position: absolute;left: 323px; top: 478px;" data-block-id="52176f0451714b83e8c35e7dc1312800"><div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 19;" dir="ui">
        <p style="text-align:left;"><span style="font-size:16px">Blog:&nbsp;<a href="http://yanivefraim.github.io" target="_blank">http://yanivefraim.github.io</a>&nbsp;</span></p>
        </div></div>
        <div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; width: 383px; position: absolute;left: 323px; top: 525px;" data-block-id="52176f0451714b83e8c35e7dc1312800"><div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 19;" dir="ui">
        <p style="text-align:left;"><span style="font-size:16px">Slides:&nbsp;<a href="http://tinyurl.com/be-ready-angular2" target="_blank">http://tinyurl.com/be-ready-angular2</a>&nbsp;</span></p>
        </div></div>
        <div class="sl-block" data-block-type="image" style="min-width: 30px; min-height: 30px; width: 36px; height: 36px; position: absolute;left: 319px; top: 435px;" data-block-id="e853435f27d034015a7994fa99168308"><a class="sl-block-content" style="z-index: 20;" href="https://twitter.com/yanivef" target="_blank"><img style="visibility: visible;" data-natural-width="67" data-natural-height="67" src="./images/IN_copy_grey_lighter.png"></a></div></section>
        <section data-background="./images/alarm-clock.jpg">

        </section>
        <section>
          <h2 style="color: #ff4b5e">What is wrong with Angular 1.X?</h2>
          <ul>
              <li style="color: #ff4b5e"><span style="color: #eee">Digest loop/dirty checking</li>
              <li style="color: #ff4b5e"><span style="color: #eee">Scope inheritance</li>
              <li style="color: #ff4b5e"><span style="color: #eee">Modules are not real modules</li>
              <li style="color: #ff4b5e"><span style="color: #eee">Directive's api is too complex</li>
              <li style="color: #ff4b5e"><span style="color: #eee">jQuery/jqLight</li>
            </ul>
        </section>
        <section>
          <h2 style="color: #ff4b5e">Why is Angular 2 better? </h2>
          <img src="./images/graves.png" />
        </section>
        <section>
          <h2 style="color: #ff4b5e">Angular 2 is going to be awesome!</h2>
          <div>
            <ul>
              <li style="color: #ff4b5e"><span style="color: #eee">Modular - es2015 modules</li>
              <li style="color: #ff4b5e"><span style="color: #eee">Speed & Performance</li>
              <li style="color: #ff4b5e"><span style="color: #eee">Support for Web Components</li>
              <li style="color: #ff4b5e"><span style="color: #eee">Shadow DOM</li>
              <li style="color: #ff4b5e"><span style="color: #eee">Can run outside of the browser</li>
              <li style="color: #ff4b5e"><span style="color: #eee">Less opinionated framework</li>
            </ul>
          </div>
        </section>
        <section>
          <h2 style="color: #ff4b5e">Migration Path? (clue: there isn't one, yet..)</h2>
          <ul>
            <li style="color: #ff4b5e"><span style="color: #eee">Progressively upgrade (step by step). ngUpgrade.js</li>
            <li style="color: #ff4b5e"><span style="color: #eee">Angular 1 module.component() Helper</li>
            <li style="color: #ff4b5e"><span style="color: #eee">Angular 1 Annotation Support</li>
          </ul>
        </section>
        <section>
          <h2 style="color: #ff4b5e">What can I do in order to be ready for Angular 2.0?</h2>
          <div>
            <ol>
              <li style="color: #ff4b5e"><span style="color: #eee">Use Component Tree Architecture</li>
              <li style="color: #ff4b5e"><span style="color: #eee">Write Angular 1.x Components using ES2015/Typescript</li>
              <li style="color: #ff4b5e"><span style="color: #eee">Use the "New Router" (Angular 1.5)</li>
            </ol>
          </div>
        </section>
        <section data-background="#13DAEC">
          <h1 style="font-size: 5em;">01</h1>
          <h1 style="font-size: 3.2em;">Component Tree Architecture</h2>
        </section>
        <section>
          <h2 style="color: #13DAEC">First things first...</h2>
          <h2>Component Tree Structure !== Directory Tree Structure!!</h2>
        </section>
        <section>
          <h1 style="color: #13DAEC;">Component Tree Architecture</h1>
          <div>
            <img src="./images/app_structure.png" width="100%" style="margin: 0;background: none;border: none;box-shadow: none;" />
          </div>
        </section>
        <section>
          <h2 style="color: #13DAEC;">Angular 2.0 Component Tree Structure</h2>
          <div>
            <img src="./images/parent_child.png" width="100%" style="margin: 0;background: none;border: none;box-shadow: none;" />
          </div>
        </section>
        <!-- <section>
          <h3>Angular 2.0 Template Syntax/Semantics</h3>
          <div class="stretch">
            <table style="border: 1px solid">
            <thead>
              <tr>
                <th></th>
                <th>Short</th>
                <th>Canonical</th>
                <th>Javascript</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td style="background-color: #A9A9A9">Property Binding</td>
                <td>[prop]="exp"</td>
                <td>bind-prop="exp"</td>
                <td>e['prop'] = exp;</td>
              </tr>
              <tr>
                <td style="background-color: #A9A9A9">Event Binding</td>
                <td>(event)="stmt"</td>
                <td>on-event="stmt"</td>
                <td>e.addEventListener('event', stmt);</td>
              </tr>
              <tr>
                <td style="background-color: #A9A9A9">Ref Binding</td>
                <td>#x</td>
                <td>var-x</td>
                <td>var x = e;</td>
              </tr>
            </tbody>
          </table>
          </div>

        </section> -->
        <section>
          <h2 style="color: #13DAEC;">Why Is It Better</h2>
          <div>
            <ul>
              <li style="color: #13DAEC"><span style="color: #eee">A component has a well-defined public API</li>
              <li style="color: #13DAEC"><span style="color: #eee">Predictable</li>
              <li style="color: #13DAEC"><span style="color: #eee">Component's state is well known</li>
              <li style="color: #13DAEC"><span style="color: #eee">More explicit data-flow</li>
              <!-- <li>Immutable Data - better performance and predictability</li> -->
              <!-- <li>Component isolation</li> -->
            </ul>
          </div>
          <aside class="notes">
            <div>
            <ul>
              <li>A component has a well-defined public API of property and event bindings</li>
              <li>Component isolation</li>
              <li>Limits the number of ways a component can be modified, makes this modification predictable</li>
              <li>Component's state is well known</li>
              <li>Immutable Data - better performance and predictability</li>
              <li></li>
            </ul>
          </div>
          </aside>
        </section>
        <section>
          <h2 style="color: #13DAEC;">React - the good parts</h2>
          <h4>(example - "Thinking in React")</h4>
          <div>
            <img src="./images/thinking-in-react-components.png" />
          </div>
          <a style="font-size: 14px;text-align: left;" href="https://facebook.github.io/react/docs/thinking-in-react.html" target="_blank">https://facebook.github.io/react/docs/thinking-in-react.html</a>
        </section>
        <!-- <section>
          <h3>Demo - Theme Creator</h3>
          <div>
            <img src="./images/theme_creator.png"/>
          </div>
          <a style="font-size: 14px;text-align: left;" href="https://github.com/yanivefraim/angular-theme-creator-demo/tree/angular1" target="_blank">https://github.com/yanivefraim/angular-theme-creator-demo/tree/angular1</a>
        </section> -->
        <section style="top: 42px; display: block;">
          <h2 style="color: #13DAEC;">Lets do it ourselves</h2>
          <div style="height: 420px;width: 100%;">
            <iframe src="http://yanivefraim.github.io/angular-theme-creator-demo" style="height: 100%;width: 100%;"></iframe>
          </div>
          <div><img src="./images/GitHub-Mark.png" style="width: 30px; margin-right: 10px;margin-top: 5px;vertical-align: middle;"><a style="font-size: 14px;text-align: left;" href="https://github.com/yanivefraim/angular-theme-creator-demo/tree/angular1" target="_blank">https://github.com/yanivefraim/angular-theme-creator-demo/tree/angular1</a></div>
        </section>
        <section>
          <h2 style="color: #13DAEC">"Regular" Angular 1.x (Demo - Theme Creator)</h3>
          <pre><code style="max-height: 600px;font-size: 1.5em;" data-trim contenteditable>
<div ng-controller="MainCtrl as ctrl">
  <div class="left-sidebar">
    <select class="form-control" ng-model="ctrl.fontFamily" ng-options="font for font in ctrl.fonts"></select>
    <input id="fontColor" ng-model="ctrl.fontColor" placeholder="#nnnnnn or <color-name>" />
    <input ng-model="ctrl.fontSize" />
  </div>
  <div class="main panel panel-primary">
    <div ng-style="{'font-family': ctrl.fontFamily, 'color': ctrl.fontColor, 'font-size': ctrl.fontSize}">
      <p>Lorem ipsum dolor sit amet, consectetur ...</p>
    </div>
  </div>
</div>
          </code></pre>
        </section>
        <section>
          <h2 style="color: #13DAEC">Step 1 - Break the Code into Components</h2>
          <div>
            <img src="./images/theme_creator_blocks2.png" />
          </div>
        </section>
        <!-- <section>
          <h2 style="color: #13DAEC">Step 1 - Break the Code into Components</h2>
          <div>
            <ul>
              <li style="color: #13DAEC"><span style="color: #eee">Application component</li>
              <li style="color: #13DAEC"><span style="color: #eee">Left panel component</li>
              <li style="color: #13DAEC"><span style="color: #eee">Input control components (font size etc.)</li>
              <li style="color: #13DAEC"><span style="color: #eee">Preview component</li>
            </ul>
          </div>
        </section> -->
        <section>
          <h2 style="color: #13DAEC">Step 2 - Create a Hierarchy Tree</h2>
          <div>
          <img src="./images/editor_tree.png" style="margin-right: 80px; margin-top: -30px;"/>
          </div>
          <div><img src="./images/GitHub-Mark.png" style="width: 30px; margin-right: 10px;margin-top: 5px;vertical-align: middle;"><a style="font-size: 14px;text-align: left;" href="https://github.com/yanivefraim/angular-theme-creator-demo/tree/angular1-2" target="_blank">https://github.com/yanivefraim/angular-theme-creator-demo/tree/angular1-2</a></div>
        </section>
        <section>
          <h2 style="color: #13DAEC">Main Application Component</h2>
          <pre><code data-trim contenteditable style="font-size: 1.6em;">
<div class="left-sidebar">
  <theme-editor-panel-component font-size="{{ctrl.fontSize}}" font-family="{{ctrl.fontFamily}}" font-color="{{ctrl.fontColor}}" on-font-size-change="ctrl.onFontSizeChange(fontSize)" on-font-color-change="ctrl.onFontColorChange(fontColor)" on-font-family-change="ctrl.onFontFamilyChange(fontFamily)"></theme-editor-panel-component>
</div>
<div class="main panel panel-primary">
  <theme-preview-panel-component font-size="{{ctrl.fontSize}}" font-family="{{ctrl.fontFamily}}" font-color="{{ctrl.fontColor}}"></theme-preview-panel-component>
</div>
          </code></pre>
        </section>
        <section>
          <h2 style="color: #13DAEC;">Theme Editor Component</h2>
          <pre><code data-trim contenteditable style="font-size: 1.6em;">
<div class="control-group">
  <label class="control-label">Font Family</label>
  <font-family-component font-family="{{ctrl.fontFamily}}" font-family-changed="ctrl.onFontFamilyChangeEvent(fontFamily)"></font-family-component>
</div>
<div class="control-group">
  <label class="control-label" for="fontColor">Font Color</label>
  <font-color-component font-color="{{ctrl.fontColor}}" font-color-changed="ctrl.onFontColorChangeEvent(fontColor)"></font-color-component>
</div>
<div class="control-group">
  <label class="control-label" for="fontSize">Font Size</label>
  <font-size-component font-size="{{ctrl.fontSize}}" font-size-changed="ctrl.onFontSizeChangeEvent(fontSize)"></font-size-component>
</div>
  </code>
</pre>
        </section>
        <section>
          <h2 style="color: #13DAEC">Font Size component</h2>
          <pre><code data-trim contenteditable  style="line-height: 2em;font-size: 1.15em;">
  directive('fontSizeComponent', function() {
 return {
  template: '<input ng-model="ctrl.fontSize" ng-change="ctrl.modelChanged()"/>',
  scope: {},
  bindToController: {
   fontSize: "@",
   fontSizeChanged: "&"
  },
  controllerAs: 'ctrl',
  controller: function() {
   var that = this;
   this.modelChanged = function() {
    that.fontSizeChanged({fontSize: that.fontSize});
   };
  }
 };
});

  </code>
</pre>
        </section>
        <section data-background="#13DAEC">
          <h2 style="color: black;">Recap - our app is now</h2>
          <div style="color: black;">
            <ol>
              <li>Modular - has isolated, well defined components</li>
              <li>Predictable - child component is immutable</li>
            </ol>
          </div>
        </section>
        <!-- <section>
          <h2>What can I do in order to be ready for Angular 2.0?</h2>
          <div>
            <ol>
              <li style="opacity: 0.2;">Use Component Tree Architecture</li>
              <li style="color:#e4bb45
">Write Angular 1.x Components using ES2015/Typescript</span></li>
              <li>Use the "New Router" (Angular 1.5)</li>
            </ol>
          </div>
        </section> -->
        <section data-background="#e4bb45">
          <h1 style="font-size: 5em;">02</h1>
          <h1>Write Angular 1.x Components using ES2015/Typescript</h1>
        </section>
        <section>
          <h2 style="color:#e4bb45">Why ES2015?</h2>
          <div>
            <ul>
              <li>Modules</li>
              <li>Arrow functions</li>
              <li>Block-level scope</li>
              <li>Classes</li>
              <li>Template Strings</li>
              <li>Promises</li>
              <li>And much more...</li>
            </ul>
          </div>
        </section>
        <section>
          <h2 style="color:#e4bb45">Why Typescript?</h2>
          <div>
            <ul>
              <li style="color: #e4bb45"><span style="color: #eee">ES2015 superset (Transpiles to good old Javascript)</li>
              <li style="color: #e4bb45"><span style="color: #eee">Type safe for development time</li>
              <li style="color: #e4bb45"><span style="color: #eee">Angular 2.0 is written in Typescript</li>
            </ul>
          </div>
        </section>
        <section>
          <h2 style="color:#e4bb45">A Tiny TypeScript Example</h2>
          <div style="display: inline-block;width: 40%;vertical-align: top;">
            <pre><code data-trim contenteditable style="font-size: 1.5em;">
//TypeScript
var bar: string;
var func: Function;
            </code></pre>
          </div>
          <div style="display: inline-block;width: 40%;margin-left: 40px;vertical-align: top;">
            <pre><code data-trim contenteditable style="font-size: 1.5em;">
//Compiled to
var bar;
var func;
            </code></pre>
          </div>
        </section>
        <section>
          <h2 style="color:#e4bb45">Convert our "Font Size" directive to ES2015</h2>
          <pre><code data-trim contenteditable style="font-size: 1.5em;">
import angular from 'angular';
class FontSizeComponent {
  /* @ngInject */
  constructor() {
  }
  modelChanged() {
    this.fontSizeChanged({fontSize: this.fontSize});
  }
}
export default angular.module('themeCreatorFontSizeComponentModule', [])
.directive('fontSizeComponent', function() {
  return {
    template: `<input ng-model="ctrl.fontSize" ng-change="ctrl.modelChanged()"/>`,
    scope: {
      fontSize: "@",
      fontSizeChanged: "&"
    },
    bindToController: true,
    controllerAs: 'ctrl',
    controller: FontSizeComponent
  };
});
  </code>
</pre>
<div><img src="./images/GitHub-Mark.png" style="width: 30px; margin-right: 10px;margin-top: 5px;vertical-align: middle;"><a style="font-size: 14px;text-align: left;" href="https://github.com/yanivefraim/angular-theme-creator-demo-es2015" target="_blank">https://github.com/yanivefraim/angular-theme-creator-demo-es2015</a></div>
        </section>
                <section>
          <h2 style="color:#e4bb45">Convert our "Font Size" directive to TypeScript</h2>
          <pre><code data-trim contenteditable style="line-height: 1.5em; font-size: 1.5em;">
import angular from 'angular';
class FontSizeComponent {
  fontSize: string;
  fontSizeChanged: Function;
  /* @ngInject */
  constructor() {
  }
  modelChanged() {
    this.fontSizeChanged({fontSize: this.fontSize});
  }
}
export default angular.module('themeCreatorFontSizeComponentModule', [])
  .directive('fontSizeComponent', function() {
    return {
      template: `<input ng-model="ctrl.fontSize" ng-change="ctrl.modelChanged()"/>`,
      scope: {
        fontSize: "@",
        fontSizeChanged: "&"
      },
      bindToController: true,
      controllerAs: 'ctrl',
      controller: FontSizeComponent
    };
  });
  </code>
</pre>
        </section>
        <!-- <section>
          <h2 style="color:#e4bb45">Lets take it one step further</h2>
          <div style="display: inline-block;width: 40%;vertical-align: top;">
          <div>Angular 1.X</div>
          <pre><code data-trim contenteditable  style="font-size: 0.8em;line-height: 1.5em">
import angular from 'angular';
export default angular.module('themeCreatorFontSizeComponentModule', [])

.directive('fontSizeComponent', function() {
  return {
    scope: {
      fontSize: "@",
      fontSizeChanged: "&"
    },
    template: `<input ng-model="ctrl.fontSize" ng-change="ctrl.fontSizeChangedEvent()"/>`,
    bindToController: true,
    controllerAs: 'ctrl',
    controller: FontSizeComponent
  };
});

class FontSizeComponent {
  fontSize: string;
  fontSizeChanged: Function;
  /* @ngInject */
  constructor() {
  }
  fontSizeChangedEvent() {
    this.fontSizeChanged({fontSize: this.fontSize});
  }
}

  </code>
</pre>
          </div>
          <div style="display: inline-block;width: 40%;margin-left: 40px;vertical-align: top;">
          <div>Angular 2.0</div>
          <pre><code data-trim contenteditable style="font-size: 0.8em;line-height: 1.5em">
import {Component, View, FORM_DIRECTIVES, EventEmitter} from 'angular2/angular2';


@Component({
    selector: 'font-size-component',
    properties: ['fontSize'],
    events: ['fontSizeChange']
})
@View({
    template: `<input [ng-model]="fontSize" (input)="modelChanged($event.target.value)" id="fontSize" />`,
    directives: [FORM_DIRECTIVES]
})




export class FontSizeComponent {
    fontSize: string;
    fontSizeChange = new EventEmitter();

    constructor() {
    }
    modelChanged($event) {
      this.fontSizeChange.next($event);
    }
}
          </code>
          </pre>
          </div>
<a style="font-size: 14px;text-align: left;" href="https://github.com/yanivefraim/theme-creator-demo-angular-2" target="_blank">https://github.com/yanivefraim/theme-creator-demo-angular-2</a>
        </section> -->
                <section>
          <h2 style="color:#e4bb45">Let's write it in Angular 2</h2>
          <pre><code data-trim contenteditable style="line-height: 1.2em; font-size: 1.5em;">
import {Component, View, FORM_DIRECTIVES, EventEmitter} from 'angular2/angular2';
@Component({
    selector: 'font-size-component',
    properties: ['fontSize'],
    events: ['fontSizeChange']
})
@View({
    template: `<input [ng-model]="fontSize" (input)="modelChanged($event.target.value)" id="fontSize" />`,
    directives: [FORM_DIRECTIVES]
})
export class FontSizeComponent {
    fontSize: string;
    fontSizeChange: EventEmitter = new EventEmitter();

    modelChanged($event) {
      this.fontSizeChange.next($event);
    }
}
          </code>
          </pre>
          <div><img src="./images/GitHub-Mark.png" style="width: 30px; margin-right: 10px;margin-top: 5px;vertical-align: middle;"><a style="font-size: 14px;text-align: left;" href="https://github.com/yanivefraim/theme-creator-demo-angular-2" target="_blank">https://github.com/yanivefraim/theme-creator-demo-angular-2</a></div>
        </section>
        <!-- <section>
          <h3>Angular2 'FontSize' Component, Option 2</h3>
          <pre><code data-trim contenteditable style="line-height: 1.6em">
import {Component, View, FORM_DIRECTIVES, EventEmitter} from 'angular2/angular2';
@Component({
    selector: 'font-size-component',
    properties: ['fontSize'],
    events: ['fontSizeChange']
})
@View({
    template: `<input id="fontSize" [(ng-model)]="fontSizeModel"/>`,
    directives: [FORM_DIRECTIVES]
})
export class FontSizeComponent {
    fontSize: string;
    fontSizeChange = new EventEmitter();
    get fontSizeModel() {
      return this.fontSize;
    }
    set fontSizeModel(value) {
      this.fontSizeChange.next(value);
    }
}

          </code>
          </pre>
          <a style="font-size: 14px;text-align: left;" href="https://github.com/yanivefraim/theme-creator-demo-angular-2" target="_blank">https://github.com/yanivefraim/theme-creator-demo-angular-2</a>
        </section> -->
        <section data-background="#e4bb45">
          <h2 style="color: black;">Recap - ES2015/TS</h2>
          <div style="color: black;">
          <ul>
            <li>Our components use modern ES2015 / TypeScript</li>
            <li>It is now easier to migrate to Angular 2.0 components</li>
          </ul>
          </div>
        </section>
        <!-- <section>
          <h2>What can I do in order to be ready for Angular 2.0?</h2>
          <div>
            <ol>
              <li style="opacity: 0.2;">Use Component Tree Architecture</span></li>
              <li style="opacity: 0.2;">Write Angular 1.x Components using ES2015/Typescript</li>
              <li style="color:#4faa82">Use the "New Router" (Angular 1.5)</li>
            </ol>
          </div>
        </section> -->
        <section data-background="#4faa82">
          <h1 style="font-size: 5em;">03</h1>
          <h1>Use the "New Router"</h1>
        </section>
        <section>
          <h2 style="color:#4faa82">Why building a new router?</h2>
          <div>
            <ul>
              <li style="color: #4faa82"><span style="color: #eee">ngRoute - too simple</li>
              <li style="color: #4faa82"><span style="color: #eee">ui-router - not build for component architecture</li>
            </ul>
          </div>
        </section>
        <section>
          <h2 style="color:#4faa82">The new router - Component Router</h2>
          <div>
            <ul>
              <li style="color: #4faa82"><span style="color: #eee">Built with Component Structure in mind: route per component</li>
              <li style="color: #4faa82"><span style="color: #eee">Will be ported to Angular 1.5</li>
            </ul>
          </div>
        </section>
        <section>
          <h2 style="color:#4faa82">Porting to the new router</h2>
          <div style="display: inline-block;width: 40%;">
            <ul style="list-style-type: none;text-align: center;">
              <li>ui-route</li>
              <li>$stateProvider.state()</li>
              <li>ui-view</li>
              <li>ui-sref</li>
            </ul>
          </div>
          <div style="display: inline-block;width: 40%;margin-left: 40px;">
            <ul style="list-style-type: none;text-align: center;">
              <li>ngComponentRouter</li>
              <li>$router.config()</li>
              <li>ng-outlet</li>
              <li>ng-link</li>
            </ul>
          </div>
        </section>
        <!-- <section>
          <h2 style="color:#4faa82">Settings - based on conventions</h3>
          <div style="display: inline-block;width: 40%;vertical-align: top;">
  <span>ui-route</span>
  <pre><code data-trim contenteditable style="font-size: 1.4em;">
  $stateProvider
.state('IndexComp', {
  url: '/home',
  templateUrl: 'home.tpl.html',
  controller: 'HomeController',
  controllerAs: 'home'
})
    </code></pre>

</div>
<div style="display: inline-block;width: 40%;margin-left: 20px;vertical-align: top;">
<span>Component Route</span>
<pre><code data-trim contenteditable style="font-size: 1.4em;">
$router.config([
  {
    path: '/home',
    component: 'home'
  }
]);
</code></pre>
</div>
        </section> -->
        <section>
          <h2 style="color:#4faa82">Settings - Angular 1.X</h2>
            <div>
              <pre><code data-trim contenteditable style="font-size: 1.6em;">
                app.controller('AppController', function ($router) {
  $router.config([
    {
      path: '/welcome',
      component: 'welcome'
    }
  ]);
});
              </code></pre></div></section>
              <section>
                <h2 style="color:#4faa82;">Settings - Angular 1.X, Based on Conventions</h2>
                <ol style="line-height: 2em;">
                  <li>
                    Load the component template asynchronously from:
                    components/[COMPONENT_NAME]/[COMPONENT_NAME].html
                  </li>
                  <li>
                    Instantiate:
                    <div>[COMPONENT_NAME]Controller</div>
                  </li>
                </ol>
              </section>
        <!-- <section>
        <h3>Bonus - use Angular 1.x With Decorators</h3>
        http://plnkr.co/edit/JhHlOr?p=preview
        https://github.com/pbastowski/angular2-now
        </section>
        <section>
        <h3>Decorators & Annotations</h3>
        <div>(few words)</div>
        </section> -->
        <section data-background="#ff4b5e">
          <h1>Summary</h1>
          <ul>
            <li>Angular 2.0 will have huge changes, but it is going to be awesome</li>
            <li>Start preparing for the migration today
</li>
            <li>Learn</li>
            <li>Try it yourself
</li>
<li>Don’t be afraid of it!
</li>
          </ul>
        </section>
        <section data-background="#ff4b5e">
          <h1>Questions ?</h1>
          <div align="left" style="width: 65%;margin: 0 auto;">
            <div><img src="./images/GitHub-Mark.png" style="width: 30px; margin-right: 10px;margin-top: 5px;vertical-align: middle;"><a style="font-size: 20px;text-align: left;" href="https://github.com/yanivefraim/angular-theme-creator-demo/tree/angular1" target="_blank">https://github.com/yanivefraim/angular-theme-creator-demo/tree/angular1</a></div>
            <div><img src="./images/GitHub-Mark.png" style="width: 30px; margin-right: 10px;margin-top: 5px;vertical-align: middle;"><a style="font-size: 20px;text-align: left;" href="https://github.com/yanivefraim/angular-theme-creator-demo/tree/angular1-2" target="_blank">https://github.com/yanivefraim/angular-theme-creator-demo/tree/angular1-2</a></div>
            <div><img src="./images/GitHub-Mark.png" style="width: 30px; margin-right: 10px;margin-top: 5px;vertical-align: middle;"><a style="font-size: 20px;text-align: left;" href="https://github.com/yanivefraim/angular-theme-creator-demo-es2015" target="_blank">https://github.com/yanivefraim/angular-theme-creator-demo-es2015</a></div>
            <div><img src="./images/GitHub-Mark.png" style="width: 30px; margin-right: 10px;margin-top: 5px;vertical-align: middle;"><a style="font-size: 20px;text-align: left;" href="https://github.com/yanivefraim/theme-creator-demo-angular-2" target="_blank">https://github.com/yanivefraim/theme-creator-demo-angular-2</a></div>
          </div>
        </section>
        <section data-background="#ff4b5e">
          <h1>Thank You</h1>
        </section>
      </div>
    </div>

    <script src="lib/js/head.min.js"></script>
    <script src="js/reveal.js"></script>

    <script>

      // Full list of configuration options available at:
      // https://github.com/hakimel/reveal.js#configuration
      Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        center: true,

        transition: 'slide', // none/fade/slide/convex/concave/zoom

        // Optional reveal.js plugins
        dependencies: [
          { src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
          { src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: 'plugin/highlight/highlight.js', async: true, condition: function() { return !!document.querySelector( 'pre code' ); }, callback: function() { hljs.initHighlightingOnLoad(); } },
          { src: 'plugin/zoom-js/zoom.js', async: true },
          { src: 'plugin/notes/notes.js', async: true }
        ]
      });

    </script>

  </body>
</html>
