<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>reveal.js - The HTML Presentation Framework</title>

		<meta name="description" content="A framework for easily creating beautiful presentations using HTML">
		<meta name="author" content="Hakim El Hattab">

		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

		<link rel="stylesheet" href="css/reveal.css">
		<link rel="stylesheet" href="css/theme/league.css" id="theme">

		<!-- Code syntax highlighting -->
		<link rel="stylesheet" href="lib/css/drakula.css">
		<style>
		.reveal table th, .reveal table td {
			border: 1px solid;
		}
		.reveal table th {
			background-color: #FF8C00;
		}
		</style>
		<!-- Printing and PDF exports -->
		<script>
			var link = document.createElement( 'link' );
			link.rel = 'stylesheet';
			link.type = 'text/css';
			link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
			document.getElementsByTagName( 'head' )[0].appendChild( link );
		</script>

		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->
	</head>

	<body>

		<div class="reveal">

			<!-- Any section element inside of this container is displayed as a slide -->
			<div class="slides">
				<section data-background="#6ea9ac">
					<h1>BE READY FOR ANGULAR 2.0 TODAY</h1>
					<div>
						<p>Yaniv Efraim</p>
					</div>
					<div><p style="margin-top: 20px; color: #f85360">Wix.com</p></div>
				</section>
				<section data-background="#6ea9ac" data-id="454d1bee8790ffc21e5e82f231f7d42d" class="present" style="display: block;"><div class="sl-block" data-block-type="text" data-block-id="2d36e95120822cf56208370811ca3c32" style="height: auto; min-width: 30px; min-height: 30px; width: 600px; position: absolute;left: 80px; top: 66px;"><div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 10;">
				<h2 style="text-align: left;"><span>About Myself</span></h2>
				</div></div>
				<div class="sl-block" data-block-type="image" data-block-id="ff0d6ea7bd24667a12265285a221178d" style="position: absolute;min-width: 30px; min-height: 30px; width: 194px; height: 345.059288537549px;position: absolute; left: 80px; top: 200px;"><div class="sl-block-content" style="z-index: 11; opacity: 0.82;"><img style="visibility: visible;" data-natural-width="506" data-natural-height="900" src="./images/about_me.JPG"></div></div>

				<div class="sl-block" data-block-type="text" data-block-id="949c4a04ec50dc6e68d49b9b1376d5ca" style="height: auto; min-width: 30px; min-height: 30px; width: 640px;position: absolute; left: 320px; top: 183px;"><div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 12; text-align: left;">
				<p><span style="font-size:24px">I am a Front End developer <span style="color:#f85360">@Wix</span></span></p>

				<p><span style="font-size:24px">Developing for the web for more than 10 years</span></p>

				<p><span style="font-size:24px">Love Javascript</span></p>

				<p>&nbsp;</p>

				<p>&nbsp;</p>
				</div></div>

				<div class="sl-block" data-block-type="image" data-block-id="c9a6302ba361e48408570c3e79ec1d87" style="position: absolute;min-width: 30px; min-height: 30px; width: 39px; height: 39px; left: 318px; top: 342px;"><a class="sl-block-content" style="z-index: 13;" href="https://twitter.com/yanivef" target="_blank"><img style="visibility: visible;" data-natural-width="67" data-natural-height="67" src="./images/twitter_grey.png"></a></div>


				<div class="sl-block" data-block-type="text" data-block-id="cde158b9548ffa23e2ffa58ff0bec6a6" style="height: auto; min-width: 30px; min-height: 30px; width: 111px; position: absolute; left: 361px; top: 328px;"><div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 14;">
				<p style="text-align:left;"><span style="font-size:16px"><a href="https://twitter.com/yanivef" target="_blank">@yanivef</a></span></p>
				</div></div>

				<div class="sl-block" data-block-type="text" data-block-id="2b858306868d03aae549c344ff28b67c" style="height: auto; min-width: 30px; min-height: 30px; width: 599px; position: absolute; left: 361px; top: 425px;"><div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 16;">
				<p style="text-align:left"><span style="font-size:16px"><a href="https://www.linkedin.com/in/efraimyaniv" target="_blank">https://www.linkedin.com/in/efraimyaniv</a></span></p>
				</div></div>
				<div class="sl-block" data-block-type="image" style="min-width: 30px; min-height: 30px; width: 36px; height: 36px; left: 319px; top: 389px;position: absolute;" data-block-id="61619bb5e23173c19c54797e68f2f635"><a class="sl-block-content" style="z-index: 17;" href="https://twitter.com/yanivef" target="_blank"><img style="visibility: visible;" data-natural-width="67" data-natural-height="67" src="./images/email_grey.png"></a></div>
				<div class="sl-block" data-block-type="text" data-block-id="37eade032b3ae241e4d58bcbf3ba6b01" style="height: auto; min-width: 30px; min-height: 30px; width: 200px; left: 361px; top: 377px; position: absolute;"><div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 18;">
				<p style="text-align:left;"><span style="font-size:16px"><a href="yanivefe@wix.com" target="_top">yanivef@wix.com</a></span></p>
				</div></div>
				<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; width: 383px; position: absolute;left: 323px; top: 478px;" data-block-id="52176f0451714b83e8c35e7dc1312800"><div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 19;" dir="ui">
				<p style="text-align:left;"><span style="font-size:16px">Live slides:&nbsp;<a href="http://tinyurl.com/be-ready-angular2" target="_blank">http://tinyurl.com/be-ready-angular2</a>&nbsp;</span></p>
				</div></div>
				<div class="sl-block" data-block-type="image" style="min-width: 30px; min-height: 30px; width: 36px; height: 36px; position: absolute;left: 319px; top: 435px;" data-block-id="e853435f27d034015a7994fa99168308"><a class="sl-block-content" style="z-index: 20;" href="https://twitter.com/yanivef" target="_blank"><img style="visibility: visible;" data-natural-width="67" data-natural-height="67" src="./images/IN_copy_grey_lighter.png"></a></div></section>
				<section>
					<h2>Why Angular 2 </h2>
					<h4>(or, Why should I use Angular 2)</h4>
					<div>
						<ul>
							<li>Modular</li>
							<li>Speed & Performance</li>
							<li>Support for Web Components</li>
							<li>Shadow DOM</li>
							<li>Can run outside of the browser</li>
							<li>Less opinionated framework- write plain Javascript</li>
						</ul>
					</div>
				</section>
				<section>
					<h2>Why, Angular 2 </h2>
					<h4>(or, Why, Angular 2, Why??)</h4>
					<img src="./images/graves.png" />
				</section>
				<section>
					<h3>What is wrong with Angular 1.X?</h3>
					<ul>
							<li>Scope inheritance</li>
							<li>Digest loop/Two-way databinding</li>
							<li>Modules are not real modules</li>
							<li>Directive's syntax is too complex</li>
							<li>jQuery/jqLight</li>
						</ul>
				</section>
				<section>
					<h2>Migration Path?</h2>
					<ul>
						<li>Progressively upgrade (step by step). ngUpgrade.js</li>
						<li>Angular 1 module.component() Helper</li>
						<li>Angular 1 Annotation Support</li>
					</ul>
				</section>
				<section>
					<h2>What can I do in order to be ready for Angular 2.0?</h2>
					<div>
						<ol>
							<li>Use <span style="color:#71ebf4">Component Tree</span> Architecture</li>
							<li>Write Angular 1.x Components using <span style="color:#71ebf4">ES2015/Typescript</span></li>
							<li>Use the <span style="color:#71ebf4">"New Router"</span></li>
						</ol>
					</div>
				</section>
				<section>
					<h2>What can I do in order to be ready for Angular 2.0?</h2>
					<div>
						<ol>
							<li><span style="color:#FF8C00">Use Component Tree Architecture</span></li>
							<li>Write Angular 1.x Components using <span style="color:#71ebf4">ES2015/Typescript</span></li>
							<li>Use the <span style="color:#71ebf4">"New Router"</span></li>
						</ol>
					</div>
				</section>
				<section>
					<h1>Component Tree Structure !== Directory Tree Structure!!</h1>
					Image here
				</section>
				<section>
					<h2>1. Component Tree Architecture</h2>
					<div>
						<img src="./images/app_structure.png" width="100%" style="margin: 0;background: none;border: none;box-shadow: none;" />
					</div>
				</section>
				<section>
					<h3>Angular 2.0 Component Tree Structure</h3>
					<div>
						<img src="./images/parent_child.png" width="100%" style="margin: 0;background: none;border: none;box-shadow: none;" />
					</div>
				</section>
				<!-- <section>
					<h3>Angular 2.0 Template Syntax/Semantics</h3>
					<div class="stretch">
						<table style="border: 1px solid">
						<thead>
							<tr>
								<th></th>
								<th>Short</th>
								<th>Canonical</th>
								<th>Javascript</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td style="background-color: #A9A9A9">Property Binding</td>
								<td>[prop]="exp"</td>
								<td>bind-prop="exp"</td>
								<td>e['prop'] = exp;</td>
							</tr>
							<tr>
								<td style="background-color: #A9A9A9">Event Binding</td>
								<td>(event)="stmt"</td>
								<td>on-event="stmt"</td>
								<td>e.addEventListener('event', stmt);</td>
							</tr>
							<tr>
								<td style="background-color: #A9A9A9">Ref Binding</td>
								<td>#x</td>
								<td>var-x</td>
								<td>var x = e;</td>
							</tr>
						</tbody>
					</table>
					</div>

				</section> -->
				<section>
					<h2>Component Tree Architecture - Why Is It Better</h2>
					<div>
						<ul>
							<li>A component has a well-defined public API</li>
							<li>Predictable - Limits the number of ways a component can be modified</li>
							<li>Component's state is well known</li>
							<li>More explicit data-flow</li>
							<!-- <li>Immutable Data - better performance and predictability</li> -->
							<!-- <li>Component isolation</li> -->
						</ul>
					</div>
					<aside class="notes">
        		<div>
						<ul>
							<li>A component has a well-defined public API of property and event bindings</li>
							<li>Component isolation</li>
							<li>Limits the number of ways a component can be modified, makes this modification predictable</li>
							<li>Component's state is well known</li>
							<li>Immutable Data - better performance and predictability</li>
							<li></li>
						</ul>
					</div>
    			</aside>
				</section>
				<section>
					<h2>React - the good parts</h2>
					<h4>(example - "Thinking in React")</h4>
					<div>
						<img src="./images/thinking-in-react-components.png" />
					</div>
					<a style="font-size: 14px;text-align: left;" href="https://facebook.github.io/react/docs/thinking-in-react.html" target="_blank">https://facebook.github.io/react/docs/thinking-in-react.html</a>
				</section>
				<!-- <section>
					<h3>Demo - Theme Creator</h3>
					<div>
						<img src="./images/theme_creator.png"/>
					</div>
					<a style="font-size: 14px;text-align: left;" href="https://github.com/yanivefraim/angular-theme-creator-demo/tree/angular1" target="_blank">https://github.com/yanivefraim/angular-theme-creator-demo/tree/angular1</a>
				</section> -->
				<section style="top: 42px; display: block;">
					<h3>Demo - Theme Creator</h3>
					<div style="height: 420px;width: 100%;">
						<iframe src="http://yanivefraim.github.io/angular-theme-creator-demo" style="height: 100%;width: 100%;"></iframe>
					</div>
					<a style="font-size: 14px;text-align: left;" href="https://github.com/yanivefraim/angular-theme-creator-demo/tree/angular1" target="_blank">https://github.com/yanivefraim/angular-theme-creator-demo/tree/angular1</a>
				</section>
				<section>
					<h3>"Regular" Angular 1.x (Demo - Theme Creator)</h3>
					<pre><code style="max-height: 600px;" data-trim contenteditable>
<div ng-controller="MainCtrl as ctrl">
  <div class="left-sidebar">
    <select class="form-control" ng-model="ctrl.fontFamily" ng-options="font for font in ctrl.fonts"></select>
    <input id="fontColor" class="form-control" name="fontColor" ng-model="ctrl.fontColor" placeholder="#nnnnnn or <color-name>" />
    <input ng-model="ctrl.fontSize" />
  </div>
  <div class="main panel panel-primary">
    <div ng-style="{'font-family': ctrl.fontFamily, 'color': ctrl.fontColor, 'font-size': ctrl.fontSize}">
      <p>Lorem ipsum dolor sit amet, consectetur ...</p>
    </div>
  </div>
</div>
					</code></pre>
				</section>
				<section>
					<h3><span style="color:#A9A9A9">Step 1</span> - Break the Code into Components</h3>
					<div>
						<img src="./images/theme_creator_blocks2.png" />
					</div>
				</section>
				<section>
					<h3><span style="color:#A9A9A9">Step 1</span> - Break the Code into Components</h3>
					<div>
						<ul>
							<li>Application main component (will be used as parent component in the hierarchy)</li>
							<li>Left panel component</li>
							<li>Input control components (font size etc.)</li>
							<li>Preview component</li>
						</ul>
					</div>
				</section>
				<section>
					<h3><span style="color:#A9A9A9">Step 2</span> - Create a Hierarchy Tree</h3>
					<div>
					<img src="./images/editor_tree.png" style="margin-right: 80px; margin-top: -30px;"/>
					</div>
					<a style="font-size: 14px;text-align: left;" href="https://github.com/yanivefraim/angular-theme-creator-demo/tree/angular1-2" target="_blank">https://github.com/yanivefraim/angular-theme-creator-demo/tree/angular1-2</a>
				</section>
				<section>
					<h3><span style="color:#A9A9A9">Step 2</span> - Hierarchy Tree, "Main Application" component</h3>
					<pre><code data-trim contenteditable>
<div class="left-sidebar">
  <theme-editor-panel-component on-font-size-change="ctrl.onFontSizeChange(fontSize)" on-font-color-change="ctrl.onFontColorChange(fontColor)" on-font-family-change="ctrl.onFontFamilyChange(fontFamily)" font-size="{{ctrl.fontSize}}" font-family="{{ctrl.fontFamily}}" font-color="{{ctrl.fontColor}}"></theme-editor-panel-component>
</div>
<div class="main panel panel-primary">
  <theme-preview-panel-component font-size="{{ctrl.fontSize}}" font-family="{{ctrl.fontFamily}}" font-color="{{ctrl.fontColor}}"></theme-preview-panel-component>
</div>
					</code></pre>
				</section>
				<section>
					<h3><span style="color:#A9A9A9">Step 2</span> - Hierarchy Tree, "Theme Editor" component</h3>
					<pre><code data-trim contenteditable>
<div class="control-group">
  <label class="control-label">Font Family</label>
  <font-family-component font-family="{{ctrl.fontFamily}}" font-family-changed="ctrl.onFontFamilyChangeEvent(fontFamily)"></font-family-component>
</div>
<div class="control-group">
  <label class="control-label" for="fontColor">Font Color</label>
  <font-color-component font-color="{{ctrl.fontColor}}" font-color-changed="ctrl.onFontColorChangeEvent(fontColor)"></font-color-component>
</div>
<div class="control-group">
  <label class="control-label" for="fontSize">Font Size</label>
  <font-size-component font-size="{{ctrl.fontSize}}" font-size-changed="ctrl.onFontSizeChangeEvent(fontSize)"></font-size-component>
</div>
	</code>
</pre>
				</section>
				<section>
					<h3><span style="color:#A9A9A9">Step 2</span> - Hierarchy Tree, "Font Size" component</h3>
					<pre><code data-trim contenteditable>
  directive('fontSizeComponent', function() {
 return {
  template: '<input ng-model="ctrl.fontSize" ng-change="ctrl.fontSizeChangedEvent()"/>',
  scope: {},
  bindToController: {
   fontSize: "@",
   fontSizeChanged: "&"
  },
  controllerAs: 'ctrl',
  controller: function() {
   var that = this;
   this.fontSizeChangedEvent = function() {
    that.fontSizeChanged({fontSize: that.fontSize});
   };
  }
 };
});

	</code>
</pre>
				</section>
				<section>
					<h2>What can I do in order to be ready for Angular 2.0?</h2>
					<div>
						<ol>
							<li style="opacity: 0.2;">Use Component Tree Architecture</li>
							<li><span style="color:#FF8C00">Write Angular 1.x Components using ES2015/Typescript</span></li>
							<li>Use the <span style="color:#71ebf4">"New Router"</span></li>
						</ol>
					</div>
				</section>
				<section>
					<h2>Why ES2015?</h2>
					<div>
						<ul>
							<li>This is the (near) future :)</li>
							<li>Modules</li>
							<li>Arrow functions</li>
							<li>Block-level scope</li>
							<li>Classes</li>
							<li>Template Strings</li>
							<li>Promises</li>
						</ul>
					</div>
				</section>
				<section>
					<h2>Why Typescript?</h2>
					<div>
						<ul>
							<li>This is the future :)</li>
							<li>ES2015 superset (Transpiles to good old Javascript)</li>
							<li>Angular 2.0 is written in Typescript</li>
							<li>Type safe for development time</li>
						</ul>
					</div>
				</section>
				<section>
					<h3>Convert our "Font Size" directive to ES2015</h3>
					<pre><code data-trim contenteditable>
import angular from 'angular';
export default angular
  .module('themeCreatorFontSizeComponentModule', [])
  .directive('fontSizeComponent', function() {
    return {
      template: `<input ng-model="ctrl.fontSize" ng-change="ctrl.fontSizeChangedEvent()"/>`,
      scope: {
        fontSize: "@",
        fontSizeChanged: "&"
      },
      bindToController: true,
      controllerAs: 'ctrl',
      controller: FontSizeComponent
    };
  });

class FontSizeComponent {
  /* @ngInject */
  constructor() {
  }
  fontSizeChangedEvent() {
    this.fontSizeChanged({fontSize: this.fontSize});
  }
}

	</code>
</pre>
<a style="font-size: 14px;text-align: left;" href="https://github.com/yanivefraim/angular-theme-creator-demo-es2015" target="_blank">https://github.com/yanivefraim/angular-theme-creator-demo-es2015</a>
				</section>
								<section>
					<h3>Convert our "Font Size" directive to TypeScript</h3>
					<pre><code data-trim contenteditable>
import angular from 'angular';
export default angular
  .module('themeCreatorFontSizeComponentModule', [])
  .directive('fontSizeComponent', function() {
    return {
      template: `<input ng-model="ctrl.fontSize" ng-change="ctrl.fontSizeChangedEvent()"/>`,
      scope: {
        fontSize: "@",
        fontSizeChanged: "&"
      },
      bindToController: true,
      controllerAs: 'ctrl',
      controller: FontSizeComponent
    };
  });

class FontSizeComponent {
  fontSize: string;
  fontSizeChanged: Function;
  /* @ngInject */
  constructor() {
  }
  fontSizeChangedEvent() {
    this.fontSizeChanged({fontSize: this.fontSize});
  }
}

	</code>
</pre>
				</section>
								<section>
					<h3>Angular2 'FontSize' Component</h3>
					<pre><code data-trim contenteditable>
import {Component, View, FORM_DIRECTIVES, EventEmitter} from 'angular2/angular2';
@Component({
    selector: 'font-size-component',
    properties: ['fontSize'],
    events: ['fontSizeChange']
})
@View({
    template: `<input [ng-model]="fontSize" (input)="fontSizeChange.next($event.target.value)" id="fontSize" />`,
    directives: [FORM_DIRECTIVES]
})
export class FontSizeComponent {
    fontSize: string;
    fontSizeChange = new EventEmitter();
}

					</code>
					</pre>
					<a style="font-size: 14px;text-align: left;" href="https://github.com/yanivefraim/theme-creator-demo-angular-2" target="_blank">https://github.com/yanivefraim/theme-creator-demo-angular-2</a>
				</section>
				<section>
					<h3>Angular2 'FontSize' Component, Option 2</h3>
					<pre><code data-trim contenteditable>
import {Component, View, FORM_DIRECTIVES, EventEmitter} from 'angular2/angular2';
@Component({
    selector: 'font-size-component',
    properties: ['fontSize'],
    events: ['fontSizeChange']
})
@View({
    template: `<input id="fontSize" [(ng-model)]="fontSizeModel"/>`,
    directives: [FORM_DIRECTIVES]
})

export class FontSizeComponent {
    fontSize: string;
    fontSizeChange = new EventEmitter();
    get fontSizeModel() {
      return this.fontSize;
    }
    set fontSizeModel(value) {
      this.fontSizeChange.next(value);
    }
}

					</code>
					</pre>
					<a style="font-size: 14px;text-align: left;" href="https://github.com/yanivefraim/theme-creator-demo-angular-2" target="_blank">https://github.com/yanivefraim/theme-creator-demo-angular-2</a>
				</section>
				<section>
					<h3>Angular 2 VS Angular 1.X: DIFF</h3>
					<div>Live Demo</div>
				</section>
				<section>
				<h3>Decorators & Annotations</h3>
				<div>(few words)</div>
				</section>
				<section>
				<h3>Bonus - use Angular 1.x With Decorators</h3>
				http://plnkr.co/edit/JhHlOr?p=preview
				https://github.com/pbastowski/angular2-now
				</section>
				<section>
					<h2>What can I do in order to be ready for Angular 2.0?</h2>
					<div>
						<ol>
							<li style="opacity: 0.2;">Use Component Tree Architecture</span></li>
							<li style="opacity: 0.2;">Write Angular 1.x Components using <span style="color:#71ebf4">ES2015/Typescript</span></li>
							<li><span style="color:#FF8C00">Use the "New Router"</span></li>
						</ol>
					</div>
				</section>
			</div>
		</div>

		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.js"></script>

		<script>

			// Full list of configuration options available at:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,

				transition: 'slide', // none/fade/slide/convex/concave/zoom

				// Optional reveal.js plugins
				dependencies: [
					{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/highlight/highlight.js', async: true, condition: function() { return !!document.querySelector( 'pre code' ); }, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: 'plugin/zoom-js/zoom.js', async: true },
					{ src: 'plugin/notes/notes.js', async: true }
				]
			});

		</script>

	</body>
</html>
